<div class="container mt-3">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header bg-secondary text-white">
                    <h4>Github Search</h4>
                </div>
                <div class="card-body">
                    <form class="form-inline" (submit)="searchUser()">
                        <div class="form-group">
                            <input [(ngModel)]="githubUserQuery" name="user" type="search" class="form-control1" placeholder="Github user">
                        </div>
                        <div>
                            <input type="submit" value="search" class="btn btn-secondary btn-sm">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <app-github-profile [githubProfile]="githubProfile"></app-github-profile>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <app-github-repo></app-github-repo>
        </div>
    </div>
</div>
