nav {
    background-color: blue;
    text-align: center;
    padding: 15px;
    color: #fff;
    font-size: 20px;
}

.navbar-brand {
    color: white;
    font-size: 45px;
    text-decoration: none;
}